//config
@import "config/variables.scss";
@import "config/mixins.scss";

//layout
@import "layout/fonts.scss";
@import "layout/global.scss";

//common blocks
@import "blocks/main-title.scss";
@import "blocks/title.scss";
@import "blocks/button.scss";
@import "blocks/logo.scss";

//blocks
@import "blocks/page-wrapper.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/banner.scss";
@import "blocks/main-menu.scss";
@import "blocks/hit.scss";
@import "blocks/stats.scss";
@import "blocks/about.scss";
@import "blocks/reviews.scss";
@import "blocks/slider.scss";
@import "blocks/page-contacts.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/socials.scss";
@import "blocks/copyright.scss";
@import "blocks/catalog.scss";
@import "blocks/production.scss";
@import "blocks/order.scss";
@import "blocks/form.scss";
@import "blocks/person-data.scss";
@import "blocks/modal.scss";
