html,
html::before,
html::after {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font: normal normal 15px/1.42 'Open Sans', 'Arial', sans-serif;
    color: $grey;
}

.container {
    width: 81.25%;
    margin-left: auto;
    margin-right: auto;
}

.page-wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.page-main {
    width: 100%;
}

.section {
    width: 100%;
}

a {
    font-weight: bold;
    font-family: inherit;
    font-size: 17px;
    line-height: inherit;
    color: $grey;
    text-decoration: none;
}
