html,
html::before,
html::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 1.42;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $grey;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 260px;
  margin: 0 auto;
}

a {
  font-weight: bold;
  font-family: inherit;
  font-size: 17px;
  line-height: inherit;
  color: $grey;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media screen and (min-width: $tablet) {
  body {
    font-size: 17px;
  }

  .container {
    width: 668px;
  }

  .title {
    font-size: 43px;
    line-height: 1.16;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    width: 1050px;
  }

  .title {
    font-size: 53px;
    line-height: 1.08;
  }
}
