html,
html::before,
html::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 1.42;
  font-family: 'Open Sans', 'Arial', sans-serif;
  color: $grey;
}

.container {
  width: 81.25%;
  margin-left: auto;
  margin-right: auto;
}

.page-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.page-main {
  width: 100%;
}

.section {
  width: 100%;
}

a {
  font-weight: bold;
  font-family: inherit;
  font-size: 17px;
  line-height: inherit;
  color: $grey;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
