.catalog__main-title {
  padding: 69px 0 77px 0;
  margin: 0 0 30px 0;
  background-color: #f1f1f1;
}

.catalog__list {
  @include list-reset;
}

.catalog__link {
  display: block;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(black, 0.1);
  }
}

.catalog__picture {
  display: block;
}

.catalog__description {
  padding: 0 27px;
  border: 1px solid #ededed;
}

.catalog__title {
  margin: 0;
  padding: 26px 0 5px 0;
  font-size: 17px;
}

.catalog__stats {
  display: block;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 13px;
  line-height: 2.31;
}

.catalog__price {
  padding: 21px 0 27px 0;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.6;
  border-top: 1px solid #ececec;
}

@media screen and (min-width: $tablet) {
  .catalog {
    padding-bottom: 53px;
  }

  .catalog__main-title {
    padding: 95px 0 80px 0;
    margin-bottom: 80px;
    background-color: #f1f1f1;
  }

  .catalog__item {
    display: flex;
  }

  .catalog__link:not(:last-child) {
    margin-bottom: 54px;
  }

  .catalog__image,
  .catalog__description {
    width: 50%;
  }

  .catalog__picture {
    min-width: 100%;
    height: auto;
  }

  .catalog__description {
    display: flex;
    flex-direction: column;
    padding: 0 60px 0 25px;
  }

  .catalog__title {
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 1.2;
  }

  .catalog__stats {
    font-size: 15px;
    line-height: 2;
  }

  .catalog__about {
    flex-grow: 1;
  }

  .catalog__price {
    margin-top: auto;
  }
}

@media screen and (min-width: $desktop) {
  .catalog {
    padding-bottom: 30px;
  }

  .catalog__main-title {
    padding: 95px 0;
    margin-bottom: 134px;
    background-color: #f1f1f1;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    flex-direction: column;
    flex-grow: 1;
  }

  .catalog__link {
    display: flex;
    width: 315px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(:nth-of-type(3n)) {
      margin-right: 51px;
    }
  }

  .catalog__image,
  .catalog__description {
    width: 100%;
  }

  .catalog__description {
    padding-right: 55px;
  }

  .catalog__stats {
    margin-bottom: 37px;
  }

  .catalog__price {
    font-size: 17px;
  }
}
