.contacts {
  display: table;
  line-height: 2;
  border-collapse: collapse;
}

.contacts__column {
  display: table-column;
}

.contacts__item {
  display: table-row;
}

.contacts__heading {
  padding-right: 30px;
}

.contacts__value {
  display: table-cell;
  padding: 16px 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 2;

  &--email {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: $light-green;
    }
  }
}

.contacts__value-item {
  display: block;
}

@media screen and (min-width: $tablet) {
  .contacts {
    display: flex;
  }

  .contacts__item {
    display: flex;
    align-items: flex-start;
    width: 50%;
  }

  .contacts__heading {
    padding-right: 24px;
  }

  .contacts__value {
    padding: 0;
    margin: 0;
    font-size: 17px;
    line-height: 1.85;
  }
}

@media screen and (min-width: $desktop) {
  .contacts {
    flex-direction: column;
  }

  .contacts__item {
    width: auto;

    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }
}
