.form__section {
  padding: 0;
  margin-bottom: 28px;
  border: 0;
  border-top: 1px solid $light-green;
}

.form__title {
  position: relative;
  top: -13px;
  left: 0;
  display: inline-block;
  margin: 0 0 18px 0;
  padding-right: 22px;
  font-weight: bold;
  font-size: 17px;
  color: $light-green;
  text-transform: uppercase;
  background-color: white;

  &--phone,
  &--email {
    position: absolute;
    margin-bottom: 0;
  }

  &--person {
    margin-bottom: 12px;
  }

  &--extra {
    margin-bottom: 8px;
  }
}

.form__label {
  position: relative;
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 1;

  &--color,
  &--type {
    padding-left: 63px;
  }

  &--type {
    margin-bottom: 25px;
  }

  &--color {
    margin-bottom: 44px;
  }
}

.form__type,
.form__color {
  display: none;
}

.form__colors {
  margin-bottom: 8px;
}

.form__type-indicator,
.form__color-indicator {
  width: 40px;
  height: 40px;
  border: 2px solid $grey;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: $light-green;
  }

  &:active {
    border-color: rgba($grey, 0.3);
  }
}

.form__type-indicator {
  position: absolute;
  top: -10px;
  left: 0;
  display: flex;
  border-radius: 50%;

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    margin: auto;
    background-color: $light-green;
    border-radius: 50%;
    opacity: 0;
  }
}

.form__color-indicator {
  position: absolute;
  top: -10px;
  left: 0;
  display: block;
  height: 39px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 30%;
    left: 40%;
    width: 4px;
    background-color: black;
    transform-origin: bottom;
    opacity: 0;
  }

  &::before {
    left: 42%;
    height: 22%;
    transform: rotate(-45deg);
  }

  &::after {
    left: 38%;
    height: 50%;
    transform: rotate(45deg);
  }
}

.form__type:checked + .form__type-indicator::after {
  opacity: 1;
}

.form__color:checked + .form__color-indicator::before,
.form__color:checked + .form__color-indicator::after {
  opacity: 1;
}

.form__person {
  margin-bottom: 17px;
}

.form__person-item {
  margin-bottom: 22px;
}

.form__field {
  width: 100%;
  padding: 16px 0 16px 0;
  font-size: 17px;
  border: 0;
  border-bottom: 2px solid black;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-color: $light-green;
    outline: 0;
    transition: border-color 0.2s ease;
  }
}

.form__phone,
.form__email {
  position: relative;
  padding-top: 14px;

  &:hover,
  &:focus {
    .form__icon {
      fill: $light-green;
      opacity: 1;
    }
  }
}

.form__phone-label,
.form__email-label {
  position: relative;
}

.form__phone {
  margin-bottom: 40px;
}

.form__icon {
  position: absolute;
  top: 50%;
  opacity: 0.2;
  transform: translateY(-50%);

  &--phone {
    right: 10px;
  }

  &--email {
    right: 0;
  }
}

.form__email {
  margin-bottom: 12px;
  border-top: 1px solid $light-green;
}

.form__extra {
  margin-bottom: 9px;
}

.form__extra-field {
  width: 100%;
  height: 142px;
  padding: 15px;
  border: 2px solid $grey;
  font-size: 17px;
  resize: none;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-color: $light-green;
    outline: 0;
    transition: border-color 0.2s ease;
  }
}

.form__legend {
  display: block;
  margin-bottom: 30px;
  font-style: normal;
  font-size: 14px;
}

.form__submit {
  padding-top: 15px;
  padding-bottom: 14px;
  font-size: 17px;

  &:not(:active):not(:hover) {
    background-color: transparent;
  }
}

@media screen and (min-width: $tablet) {
  .form__section {
    border-top: 0;

    &:nth-child(2n) {
      background-color: #f1f1f1;
    }
  }

  .form__section-wrapper {
    display: flex;
    align-items: baseline;
    padding-top: 5px;
    border-top: 0;

    &--contacts {
      display: block;
    }
  }

  .form__title {
    position: static;
    flex-shrink: 0;
    width: 25%;
    background-color: transparent;

    &--phone,
    &--email {
      display: flex;
      align-items: center;
    }
  }

  .form__radios,
  .form__checkboxes,
  .form__person-data,
  .form__phone-label,
  .from__email-label {
    width: 75%;
  }

  .form__types {
    margin-bottom: 10px;
    padding-top: 55px;
  }

  .form__type-indicator {
    top: -14px;
    width: 52px;
    height: 52px;

    &::after {
      width: 22px;
      height: 22px;
    }
  }

  .form__colors {
    padding-bottom: 8px;
    padding-top: 58px;
    margin-bottom: 0;
  }

  .form__checkboxes {
    display: flex;
    flex-wrap: wrap;
  }

  .form__label {
    font-size: 19px;

    &--type,
    &--color {
      margin-bottom: 58px;
      padding-left: 81px;
    }

    &--color:nth-child(2n + 1) {
      width: 262px;
    }

    &--person {
      padding-right: 25px;
    }
  }

  .form__color-indicator {
    top: -15px;
    width: 54px;
    height: 52px;

    &::before {
      height: 30%;
    }

    &::after {
      height: 50%;
    }
  }

  .form__person {
    padding-top: 41px;
    margin-bottom: 0;
    padding-bottom: 27px;
  }

  .form__person-item {
    display: flex;
    align-items: center;
  }

  .form__field {
    padding-left: 18px;
    font-size: 19px;

    &--person {
      flex-grow: 1;
    }

    &--phone,
    &--email {
      width: 100%;
      background-color: transparent;
    }
  }

  .form__contacts {
    padding-top: 28px;
    margin-bottom: 0;
    padding-bottom: 38px;
  }

  .form__phone,
  .form__email {
    display: flex;
  }

  .form__phone-label,
  .form__email-label {
    flex-grow: 1;
  }

  .form__icon {
    &--phone {
      right: 25px;
    }

    &--email {
      right: 17px;
    }
  }

  .form__phone {
    margin-bottom: 7px;
  }

  .form__email {
    border-top: 0;
  }

  .form__extra {
    padding: 45px 0 53px 0;
    margin-bottom: 0;
  }

  .form__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__legend {
    order: 1;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 1.76;
  }

  .form__submit {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: $desktop) {
  .form__title {
    width: 16.66666666%;
    padding-right: 12px;
    text-align: center;

    &--phone,
    &--email {
      justify-content: center;
      align-items: center;
    }
  }

  .form__radios,
  .form__checkboxes {
    width: 83.33333333%;
  }

  .form__person-data,
  .form__phone-label,
  .form__email-label {
    flex-grow: 0;
    width: 700px;
  }

  .form__types {
    margin-bottom: 9px;
  }

  .form__colors {
    padding-bottom: 9px;
  }

  .form__icon {
    &--phone {
      right: 7px;
    }

    &--email {
      right: 0;
    }
  }

  .form__extra {
    padding-bottom: 49px;
  }

  .form__extra-field {
    width: 700px;
  }

  .form__bottom {
    width: 700px;
  }
}
