.hit {
  padding-bottom: 40px;
}

.hit__heading {
  position: relative;
  z-index: 100;
}

.hit__title {
  padding-top: 27px;
  padding-bottom: 5px;
}

.hit__legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 1.18;
  color: $light-green;
  text-transform: uppercase;
}

.hit__item {
  position: relative;
}

.hit__description {
  margin: 22px 0 18px 0;
  line-height: 1.6;
}

.hit__image {
  display: block;
}

.hit__stats {
  margin-bottom: 30px;
}

.hit__picture {
  width: 260px;
  height: auto;
}

.hit__price {
  padding: 24px 0 26px 0;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

@media screen and (min-width: $tablet) {
  .hit {
    position: relative;
    padding-bottom: 68px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      height: 15px;
      background: url("../img/bg-zigzag-line.svg") repeat center;
      background-size: auto 15px;
      opacity: 0.7;
    }
  }

  .hit__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hit__title {
    padding-top: 45px;
    padding-bottom: 52px;
  }

  .hit__legend {
    display: block;
    width: 167px;
    padding: 0 30px 0 70px;
    text-align: center;
  }

  .hit__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .hit__about,
  .hit__buy {
    width: 50%;
    padding-right: 44px;
  }

  .hit__description {
    margin-top: 0;
    margin-bottom: 37px;
    line-height: 1.76;
  }

  .hit__picture {
    width: 50%;
  }

  .hit__image {
    min-width: 100%;
  }

  .hit__buy {
    margin-top: -134px;
  }

  .hit__price {
    padding-bottom: 34px;
    font-size: 20px;
  }

  .hit__button {
    width: 100%;
  }
}

@media screen and (min-width: $desktop) {
  .hit {
    padding-bottom: 96px;
  }

  .hit__heading {
    justify-content: flex-start;
  }

  .hit__legend {
    width: 175px;
    padding: 0 30px;
    text-align: center;
  }

  .hit__title {
    padding-bottom: 50px;
    order: 1;
  }

  .hit__item {
    width: 875px;
    margin-left: 175px;
  }

  .hit__about,
  .hit__buy {
    width: 350px;
    padding-right: 58px;
  }

  .hit__picture {
    width: 525px;
    margin-top: -159px;
  }

  .hit__description {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .hit__price {
    padding-bottom: 32px;
  }

  .hit__stats {
    margin-bottom: 84px;
  }
}
