.logo {
  width: 86px;
  height: 35px;
}

@media screen and (min-width: $tablet) {
  .logo {
    width: 111px;
    height: 46px;
  }
}

@media screen and (min-width: $desktop) {
  .logo {
    width: 149px;
    height: 72px;
  }
}
