.main-nav {
  display: flex;
  align-items: center;

  &--opened {
    .main-nav__toggle {
      background-image: url("../img/menu-close.svg");
    }

    .main-nav__menu-list,
    .main-nav__user-list {
      display: block;
    }
  }

  &.no-js {
    .main-nav__menu-list,
    .main-nav__user-list {
      display: block;
    }
  }
}

.main-nav__menu-list,
.main-nav__user-list {
  @include list-reset;
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  z-index: 100;
}

.main-nav__menu-list {
  transform: translateY(calc(100% + 1px));
}

.main-nav__user-list {
  transform: translateY(calc(100% + 1px + 148px));
}

.main-nav__logo {
  display: block;
  margin-left: 86px;
  transition: opacity 0.2s ease;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.main-nav__menu-item,
.main-nav__user-item {
  position: relative;
  background-color: white;
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 25px 0 25px 75px;
  color: black;
  transition: opacity 0.2s ease;

  &[href] {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--search:hover,
  &--basket:hover {
    .main-nav__icon {
      fill: $light-green;
      opacity: 1;
    }
  }

  &--search:active,
  &--basket:active {
    .main-nav__icon {
      opacity: 0.3;
    }
  }
}

.main-nav__icon-wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: auto;
  transform: translateY(-50%);
}

.main-nav__icon {
  opacity: 0.2;
  transition: fill 0.2s ease, opacity 0.2s ease;
}

.main-nav__toggle {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 30px;
  margin-left: auto;
  border: none;
  background: transparent url("../img/menu-open.svg") center no-repeat;
  cursor: pointer;
}

.main-nav__extra {
  display: none;
  order: 10;
}

.main-nav__extra-list {
  @include list-reset;
  display: none;
}

.main-nav__extra-link {
  font-size: 15px;
}

@media screen and (min-width: $tablet) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;

    &.no-js {
      .main-nav__menu-list,
      .main-nav__user-list {
        display: flex;
      }
    }
  }

  .main-nav__logo {
    margin-left: 0;
  }

  .main-nav__menu-list,
  .main-nav__user-list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    transform: none;
  }

  .main-nav__menu-list {
    width: 334px;
    order: 1;
    margin-bottom: -60px;
  }

  .main-nav__menu-item {
    &:nth-child(2n+1) {
      width: 167px;
    }

    &:nth-child(2n) {
      width: auto;
      flex-grow: 1;
    }
  }

  .main-nav__user-list {
    width: 348px;
    margin-left: auto;
  }

  .main-nav__menu-item,
  .main-nav__user-item {
    display: flex;
  }

  .main-nav__user-item {
    border-left: 1px solid #ececec;

    &--search {
      width: 83px;
    }

    &--basket {
      width: 265px;
      text-align: right;
    }
  }

  .main-nav__link {
    width: 100%;
    padding: 32px 0;
    font-size: 15px;

    &--catalog,
    &--form {
      padding: 0;
    }

    &--basket {
      font-size: 17px;
    }
  }

  .main-nav__icon-wrapper {
    &--search {
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      transform: none;
    }

    &--basket {
      left: 31px;
    }
  }

  .main-nav__menu-text {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__extra {
    display: flex;
    margin-left: auto;
    margin-bottom: -60px;
  }

  .main-nav__extra-delivery {
    font-size: 15px;
  }
}

@media screen and (min-width: $desktop) {
  .main-nav {
    position: relative;
    align-items: stretch;
  }

  .main-nav__logo {
    align-self: center;
    margin-left: 40px;
  }

  .main-nav__user-list {
    justify-content: flex-start;
    width: 350px;
  }

  .main-nav__menu-list {
    order: -1;
    width: 410px;
    margin-bottom: 0;
  }

  .main-nav__menu-item {
    &:nth-child(2n+1) {
      width: 185px;
      border-right: 1px solid #ececec;
    }

    &:nth-child(2n) {
      width: 225px;

      .main-nav__link {
        padding-left: 36px;
      }
    }
  }

  .main-nav__link {
    padding: 31px 0 33px 0;

    &--catalog,
    &--form {
      font-size: 17px;
    }

    &--basket {
      display: flex;
      align-items: center;
    }
  }

  .main-nav__user-text {
    margin-left: auto;
  }

  .main-nav__extra {
    position: relative;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    transform: translateY(18px);
  }

  .main-nav__extra-list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__extra-link {
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__extra-item {
    &--new {
      width: 185px;
    }

    &--sale {
      padding-left: 36px;
    }
  }
}
