.main-nav {
  display: flex;

  &--opened {
    .main-nav__toggle {
      background-image: url("../img/menu-close.svg");
    }

    .main-nav__list {
      display: block;
    }
  }
}

.main-nav__list {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  transform: translateY(calc(100% + 1px));
  z-index: 100;

  &.no-js {
    display: block;
  }
}

.main-nav__item {
  position: relative;
  background-color: white;
  border-bottom: 1px solid #ececec;
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 25px 0 25px 75px;
  color: black;
  transition: opacity 0.2s ease;

  &[href] {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--search:hover,
  &--basket:hover {
    .main-nav__icon {
      fill: $light-green;
      opacity: 1;
    }
  }

  &--search:active,
  &--basket:active {
    .main-nav__icon {
      opacity: 0.3;
    }
  }
}

.main-nav__icon-wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: auto;
  transform: translateY(-50%);
}

.main-nav__icon {
  opacity: 0.2;
  transition: fill 0.2s ease, opacity 0.2s ease;
}

.main-nav__toggle {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 30px;
  margin-left: auto;
  border: none;
  background: transparent url("../img/menu-open.svg") center no-repeat;
  cursor: pointer;
}

.main-nav__extra {
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  transform: translateY(42px);
  z-index: 100;
}

.main-nav__extra-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__extra-link {
  font-size: 15px;
}

@media screen and (min-width: $tablet) {
  .main-nav {
    display: block;
  }

  .main-nav__list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    transform: none;
  }

  .main-nav__item {
    border-bottom: 0;

    &--catalog {
      width: 167px;
    }

    &--form {
      width: auto;
      flex-grow: 1;
    }

    &--search {
      width: 84px;
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
    }

    &--basket {
      width: 266px;
      text-align: right;
    }
  }

  .main-nav__link {
    padding: 32px 0;
    font-size: 15px;

    &--catalog,
    &--form {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0;
      transform: translateY(42px);
      z-index: 1000;
    }

    &--search {
      height: 100%;
    }

    &--basket {
      font-size: 17px;
    }
  }

  .main-nav__icon-wrapper {
    &--search {
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      transform: none;
    }

    &--basket {
      left: 31px;
    }
  }

  .main-nav__item-text {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__extra {
    display: flex;
  }

  .main-nav__extra-list {
    display: none;
  }

  .main-nav__extra-delivery {
    margin-left: auto;
    font-size: 15px;
  }
}

@media screen and (min-width: $desktop) {
  .main-nav__item {
    &--catalog {
      width: 185px;
      border-right: 1px solid #ececec;
    }

    &--form {
      display: flex;
    }
  }

  .main-nav__link {
    padding: 31px 0 33px 0;

    &--catalog,
    &--form {
      position: static;
      font-size: 17px;
      transform: none;
    }

    &--form {
      padding-left: 36px;
      padding-right: 36px;
    }
  }

  .main-nav__extra-list {
    display: flex;
  }

  .main-nav__extra-link {
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-nav__extra-item {
    &--new {
      width: 185px;
    }

    &--sale {
      padding-left: 36px;
    }
  }
}
