.main-nav {
  display: flex;
}

.main-nav__list {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  transform: translateY(calc(100% + 1px));
  z-index: 100;

  &.no-js {
    display: block;
  }

  &--opened {
    display: block;
  }
}

.main-nav__item {
  position: relative;
  background-color: white;
  border-bottom: 1px solid #ececec;
}

.main-nav__link {
  display: block;
  padding: 25px 0 25px 75px;
  color: black;

  &[href] {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.main-nav__toggle {
  width: 20px;
  height: 14px;
  margin-top: 31px;
  margin-bottom: 33px;
  margin-left: auto;
  background: white url("../img/icon-menu-open.svg") no-repeat center;
  border: none;
  cursor: pointer;
}

.main-nav__extra {
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  transform: translateY(42px);
}

.main-nav__extra-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__extra-link {
  font-size: 15px;
}

@media screen and (min-width: $tablet) {
  .main-nav {
    display: block;
  }

  .main-nav__list {
    position: static;
    display: flex;
    flex-wrap: wrap;
    transform: none;
  }

  .main-nav__item {
    border-bottom: 0;

    &--catalog {
      width: 167px;
    }

    &--form {
      width: auto;
      flex-grow: 1;
    }

    &--search {
      width: 84px;
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
    }

    &--basket {
      width: 266px;
      text-align: right;
    }
  }

  .main-nav__link {
    padding: 32px 0;
    font-size: 15px;

    &--catalog,
    &--form {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0;
      transform: translateY(42px);
      z-index: 100;
    }

    &--search {
      height: 100%;
    }

    &--basket {
      font-size: 17px;
    }
  }

  .main-nav__item-text {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__extra {
    display: flex;
  }

  .main-nav__extra-list {
    display: none;
  }

  .main-nav__extra-delivery {
    margin-left: auto;
    font-size: 15px;
  }
}

@media screen and (min-width: $desktop) {
  .main-nav__item {
    &--catalog {
      width: 185px;
      border-right: 1px solid #ececec;
    }

    &--form {
      display: flex;
    }
  }

  .main-nav__link {
    padding: 31px 0 33px 0;

    &--catalog,
    &--form {
      position: static;
      font-size: 17px;
      transform: none;
    }

    &--form {
      padding-left: 36px;
      padding-right: 36px;
    }
  }

  .main-nav__extra-list {
    display: flex;
  }

  .main-nav__extra-item {
    &--new {
      width: 185px;
    }

    &--sale {
      padding-left: 36px;
    }
  }
}
