.main-menu {
  background-color: #f8f8f8;
}

.main-menu__wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__item {
  &--interior {
    background-color: $light-green;

    &:hover {
      background-color: #59d5bc;
      margin-top: -5px;
    }
  }

  &--toys {
    background-color: $dark-green;

    &:hover {
      background-color: #46c1ae;
      margin-top: -5px;
    }
  }
}

.main-menu__link {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 27px 30px 30px 30px;
  font-weight: bold;
  font-size: 19px;
  line-height: 1.26;
  white-space: pre-line;
  color: white;
  vertical-align: middle;

  &:hover {
    padding-bottom: 35px;
  }

  &--interior,
  &--toys {
    &[href]:hover {
      opacity: 1;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }
}

.main-menu__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &--interior {
    right: 37px;
  }

  &--toys {
    right: 27px;
  }
}

@media screen and (min-width: $tablet) {
  .main-menu {
    position: relative;

    & .main-menu__item:hover {
      margin-top: -5px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 0;
      right: 0;
      display: block;
      height: 23px;
      background: url("../img/bg-zigzag-fill.svg") center;
      background-repeat: repeat no-repeat;
      background-size: contain;
    }
  }

  .main-menu__wrapper {
    width: 668px;
    margin: 0 auto;
  }

  .main-menu__list {
    display: flex;
  }

  .main-menu__item {
    width: 50%;

    &:hover {
      margin-top: 0;
    }
  }

  .main-menu__link {
    padding: 30px 37px;
    font-size: 20px;
    line-height: 1.5;

    &:hover {
      padding-top: 25px;
      padding-bottom: 40px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .main-menu {
    margin-bottom: 77px;
  }

  .main-menu__wrapper {
    width: 1050px;
  }
}
