.main-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 1.11;
  color: black;
  text-align: center;
}

@media screen and (min-width: $tablet) {
  .main-title {
    font-size: 43px;
    line-height: 1.16;
  }
}

@media screen and (min-width: $desktop) {
  .main-title {
    font-size: 53px;
    line-height: 1.08;
  }
}
