.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; //включается display: flex
  justify-content: center;
  align-items: center;
  background-color: rgba(white, 0.9);
  z-index: 1000;
}

.modal {
  width: 320px;
  margin: auto;
  padding: 0 30px 46px 30px;
  border-top: 1px solid #c7c7c7;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(black, 0.25);
  transform: translateY(-50%);
}

.modal__title {
  padding: 30px 0 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.modal__section {
  padding: 0;
  margin: 0 0 30px 0;
  border: 0;
}

.modal__form-title {
  margin-bottom: 25px;
  line-height: 2;
}

.modal__sizes {
  display: flex;
  flex-wrap: wrap;
}

.modal__size {
  display: none;

  &:checked + .modal__size-label {
    border-color: $light-green;
  }
}

.modal__size-label {
  width: 82px;
  padding: 18px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  text-align: center;
  border: 2px solid #ececec;
  cursor: pointer;

  &:not(:nth-child(3n)) {
    margin-right: 7px;
  }
}

.modal__button {
  border: 0;
  color: white;
  background-color: $light-green;
}

@media screen and (min-width: $tablet) {
  .modal {
    width: auto;
    padding-left: 108px;
    padding-right: 108px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 1.9;
  }

  .modal__form-title {
    font-size: 17px;
  }

  .modal__size-label {
    width: 112px;
  }

  .modal__button {
    width: 100%;
  }
}
