.order__main-title {
  padding: 70px 0 77px 0;
  margin: 0;
  background-color: #f1f1f1;
}

.order__text {
  margin: 22px 0 32px 0;
  font-size: 13px;
  line-height: 1.85;
}

.order__form {
  margin-bottom: 55px;
}

@media screen and (min-width: $tablet) {
  .order__form {
    margin-bottom: 50px;
  }

  .order__main-title {
    position: relative;
    padding: 93px 0 80px 0;
    background-color: #f1f1f1;

    &::after {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 0;
      right: 0;
      display: block;
      height: 23px;
      background: url("../img/bg-zigzag-fill.svg") center;
      background-repeat: repeat no-repeat;
      background-size: contain;
    }
  }

  .order__text {
    margin: 75px 0 11px 0;
    font-size: 17px;
    line-height: 1.76;
  }
}

@media screen and (min-width: $desktop) {
  .order__main-title {
    padding-bottom: 100px;
  }

  .order__text {
    width: 83.33333333%;
    margin: 125px 0 11px 0;
    padding-left: 175px;
  }

  .form__label {
    &--color {
      width: 262px;
    }
  }
}
