.page-contacts__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-contacts__container {
  margin-bottom: 21px;
}

.page-contacts__title {
  margin: 0;
  padding: 38px 0 8px 0;
  font-size: 18px;
  line-height: 1.67;
}

.page-contacts__map-wrapper {
  position: relative;
  width: 100%;
  height: 457px;
  background: #f5ead8 url("../img/map-mobile@1x.jpg") no-repeat center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 50%;
    display: block;
    width: 67px;
    height: 97px;
    background: url("../img/map-pin.svg") no-repeat center;
    z-index: 100;
  }
}

.page-contacts__map {
  position: relative;
  z-index: 1000;
}

.page-contacts__button {
  width: 260px;
  margin: 39px 0;
}

@media screen and (min-width: $tablet) {
  .page-contacts__container {
    margin-bottom: 0;
  }

  .page-contacts__title {
    position: relative;
    padding: 0;
    margin: 62px 0 48px 0;
    font-size: 43px;
    line-height: 1.16;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 47px;
      height: 81px;
      background: url("../img/flag.svg") no-repeat center;
      transform: translateY(-50%);
    }
  }

  .page-contacts__map-wrapper {
    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  .page-contacts__data {
    margin-bottom: 55px;
  }

  .page-contacts__button {
    width: auto;
    margin: 55px auto;
  }
}

@media screen and (min-width: $desktop) {
  .page-contacts {
    margin-bottom: 105px;
  }

  .page-contacts__wrapper {
    display: block;
    width: 1050px;
    margin: 0 auto;
    padding-left: 175px;
  }

  .page-contacts__container {
    width: 40%;
    margin: 0;
  }

  .page-contacts__title {
    margin-top: 142px;
    margin-bottom: 46px;
    font-size: 53px;
    line-height: 1.08;

    &::after {
      left: -112px;
    }
  }

  .page-contacts__map-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  .page-contacts__button {
    margin-bottom: 0;
    margin-top: 23px;
  }
}
