.page-footer {
  width: 100%;
  margin-top: auto;
  background-color: #f1f1f1;
}

.page-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  border-top: 1px solid #e5e5e5;
}

@media screen and (min-width: $tablet) {
  .page-footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer {
    padding: 55px 0;
  }

  .page-footer__logo {
    display: block;
  }
}
