.production {
  padding-bottom: 58px;
}

.production__wrapper {
  position: relative;
}

.production__video-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  z-index: 1000;
  background: #e1e1e3 url("../img/video-mobile@1x.jpg") no-repeat center;
  background-size: 260px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.production__main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ececec;
}

.production__title {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 25px 0 200px 0;
  font-size: 17px;
  line-height: 1.42;
}

.production__icon {
  &--video {
    margin: 0 18px 0 29px;
  }

  &--play {
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.production__text {
  margin-top: 0;
  margin-bottom: 25px;
  padding-left: 34px;
  padding-right: 40px;
  font-size: 13px;
  line-height: 1.85;
}

.production__button {
  width: auto;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 32px;
}

@media screen and (min-width: $tablet) {
  .production {
    padding-bottom: 0;
    margin-bottom: 63px;
  }

  .production__main {
    display: block;
    padding: 0 42px;
  }

  .production__title {
    margin: 0;
    padding: 33px 0 27px 0;
    font-size: 20px;
    line-height: 1.2;
  }

  .production__icon {
    margin-left: -6px;
  }

  .production__video-wrapper {
    position: relative;
    top: 0;
    width: 100%;
    min-height: 455px;
    background-image: url("../img/video-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .production__text {
    margin-top: 0;
    margin-bottom: 35px;
    padding: 0;
    font-size: 15px;
    line-height: 2;
  }

  .production__button {
    width: 100%;
    margin-bottom: 45px;
  }
}

@media screen and (min-width: $desktop) {
  .production {
    margin-bottom: 0;
    padding-bottom: 105px;
  }

  .production__wrapper {
    display: flex;
    padding-top: 0;
  }

  .production__main {
    width: 368px;
    padding: 0 56px 0 79px;
  }

  .production__video-wrapper {
    width: 682px;
  }

  .production__video {
    background-image: url("../img/video-desktop@1x.jpg");
    background-size: 682px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .production__title {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 42px;
    padding-bottom: 32px;
    padding-left: 0;
  }

  .production__icon {
    margin-bottom: 20px;
  }

  .production__text {
    margin-bottom: 49px;
  }
}
