.reviews__wrapper {
  position: relative;
}

.reviews__title {
  padding: 27px 0 25px 0;
}

.reviews__list-wrapper {
  position: relative;
}

.reviews__text {
  margin: 0;
  line-height: 2;
}

.reviews__author {
  margin: 26px 0;
}

.reviews__author-item {
  display: block;
  font-size: 17px;

  &--name {
    margin-bottom: 3px;
    font-weight: bold;
    color: black;
  }

  &--nickname {
    line-height: 1.76;
  }
}

.reviews__arrows {
  display: flex;
  margin-bottom: 42px;
}

.reviews__arrow {
  width: 50%;
  height: 52px;
  border: 1px solid #ececec;
  background-color: transparent;
  cursor: pointer;
}

.reviews__button {
  margin-bottom: 48px;
}

@media screen and (min-width: $tablet) {
  .reviews {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 105px;
    background: url("../img/review@1x.jpg") no-repeat top left;
  }

  .reviews__title {
    padding-top: 79px;
    padding-bottom: 49px;
  }

  .reviews__text {
    line-height: 1.76;
  }

  .reviews__arrows {
    position: absolute;
    right: 4px;
    bottom: 28px;
    width: 167px;
    margin-bottom: 0;
  }

  .reviews__arrow {
    width: 50%;
  }

  .reviews__author {
    margin-top: 60px;
  }

  .reviews__author-item {
    &--name {
      font-size: 18px;
    }
  }

  .reviews__button {
    position: absolute;
    top: 79px;
    right: 0;
    width: auto;
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media screen and (min-width: $desktop) {
  .reviews {
    width: 1050px;
    padding-bottom: 90px;
    background: initial;
  }

  .reviews__wrapper {
    padding-left: 175px;
    background: url("../img/review@1x.jpg") no-repeat top left;
  }

  .reviews__title {
    padding-top: 70px;
  }

  .reviews__arrows {
    bottom: 98px;
    width: 175px;
  }

  .reviews__author {
    margin-top: 42px;
    margin-bottom: 95px;
  }

  .reviews__author-item {
    &--name {
      font-size: 17px;
    }
  }
}
