.stats {
  display: flex;
  font-size: 15px;
  line-height: 1.33;
  border-collapse: collapse;
}

.stats__headings {
  min-width: 97px;
}

.stats__headings-row,
.stats__values-row {
  display: flex;
  flex-direction: column;
}

.stats__values {
  flex-grow: 1;
}

.stats__heading,
.stats__value {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
